.errorMessage {
  text-align: center;
  background-color: var(--color-danger);
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  border-radius: var(--border-radius);
  color: var(--color-gray-99);
  font-size: var(--fz-300);
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--fz-300);
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-text-700);
}

.input {
  background-color: var(--color-surface-400);
  color: var(--color-text-700);
  border-radius: var(--border-radius);
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.625rem;
  font-size: var(--fz-300);
  line-height: 1.25rem;
  box-shadow: var(--shadow-400);
}

.input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1px var(--color-primary);
}

.input::placeholder {
  color: var(--color-gray-70);
  font-size: var(--fz-300);
}

.errorText {
  color: var(--color-danger);
  font-size: var(--fz-200);
  line-height: 1rem;
  margin-top: 0.25rem;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
  background-color: var(--color-surface-300);
}

.input[readonly] {
  cursor: pointer;
  background-color: var(--color-surface-400);
}
