.password-input {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

.label-text {
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--fz-300);
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-text-700);
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: border-color var(--animation-duration-fast);
  width: 100%;
  background-color: var(--color-surface-400);

  input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
    background: transparent;
    font-size: var(--fz-400);
    min-width: 0;
    color: var(--color-text-400);

    &input::placeholder {
      color: var(--color-gray-70);
      font-size: var(--fz-300);
    }
  }
}

.box:focus-within {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1px var(--color-primary);
}

.prefix-icon,
.suffix-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  color: var(--color-gray-70);
  font-size: var(--fz-400);
}

.toggle-button {
  padding: 0.75rem;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-70);
  transition: color var(--animation-duration-fast);
  font-size: var(--fz-400);
}

.toggle-button:hover {
  color: var(--color-primary);
}

.toggle-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px
    color-mix(in srgb, var(--color-primary) 50%, transparent);
}
